<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>Our product - A1C Alert</b></h2>
                   <hr class="light">
            </div>
        </div>
    </div>

    
    <div class="container-fluid">
        
            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img src="../img/1.png" class="img-responsive" class="center" alt="">
                    
                    <h3>1. HbA1c, the key for prognosis and management of diabetes</h3>
                    <br>
                    <p class="text-faded">4 million people die every year from complications of diabetes. An elevated level of HbA1c indicates an increase in blood viscosity, which is a significant cause of serious medical complications.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img src="../img/2.png" class="img-responsive" class="center" alt="">
                    <br>
                    <h3 class="section-heading">2. Problem: Absence of HbA1c monitoring home device</h3>
                    <br>
                    <p class="text-faded">Although HbA1c testing is a vital step for effective diabetes management, there has never been an at-home monitoring device for diabetic patients as accurate and precise as laboratory devices.</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img src="../img/3.png" class="img-responsive" class="center" alt="">
                    <br>
                    <h3 class="section-heading">3. A1C Alert, the most accurate point-of-care testing device</h3>
                    <br>
                    <p class="text-faded">OrangeBiomed develops a POCT (point-of-care testing) device achieving both accuracy and precision. We believe A1C Alert can improve the quality of life for diabetic patients.</p>
                </div>
            </div>
    </div>
</section>