<section class="bg-primary" id="about">
<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><b>Our product - A1C Alert</b></h2>
                   <hr class="light">
            </div>
        </div>
    </div>

    
    <div class="container-fluid">
        
            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img src="../img/1.png" class="img-responsive" class="center" alt="">
                    
                    <h3>1. HbA1c, the key for prognosis and management of diabetes</h3>
                    <br>
                    <p class="text-faded">4 million people die every year from complications of diabetes. An elevated level of HbA1c indicates an increase in blood viscosity, which is a significant cause of serious medical complications.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img src="../img/2.png" class="img-responsive" class="center" alt="">
                    <br>
                    <h3 class="section-heading">2. Problem: Absence of HbA1c monitoring home device</h3>
                    <br>
                    <p class="text-faded">Although HbA1c testing is a vital step for effective diabetes management, there has never been an at-home monitoring device for diabetic patients as accurate and precise as laboratory devices.</p>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 text-left">
                <div class="service-box">
                    <img src="../img/3.png" class="img-responsive" class="center" alt="">
                    <br>
                    <h3 class="section-heading">3. A1C Alert, the most accurate point-of-care testing device</h3>
                    <br>
                    <p class="text-faded">OrangeBiomed develops a POCT (point-of-care testing) device achieving both accuracy and precision. We believe A1C Alert can improve the quality of life for diabetic patients.</p>
                </div>
            </div>
 </div>




        <!--div class="col-lg-4 col-md-3 text-left">
            <img src="img/1.png" class="img-responsive" alt="">
        </div>
        <div class="col-lg-1 col-md-9 text-left">
        </div>
        <div class="col-lg-7 col-md-9 text-left">
            <h2 class="section-heading">HbA1c, the key for prognosis management of diabetes</h2>
                
                <p class="text-faded">9.3% of the world's population (470 million people) suffer from diabetes, and 4 million people die every year from complications of diabetes. Diabetic complications are directly related to the level of glycated hemoglobin, called HbA1c, which is a glycated protein formed by binding a sugar component to hemoglobin in red blood cells. Increased level of HbA1c leads to an increase in blood viscosity, which is a significant cause of complications. Therefore, management of HbA1c levels is essential for prognosis management of diabetes.</p>
        </div>
        

        <div class="row">
        </div>
        <div> &nbsp; </div><div> &nbsp; </div>
        <div class="col-lg-7 col-md-3 text-left">
            
            <h2 class="section-heading">The absence of HbA1c monitoring device for home</h2>
            
            <p class="text-faded">HbA1c testing is a vital step for effective diabetes management, but there has never been an at-home monitoring device for diabetic patients as accurate and precise as the laboratory level. Therefore, patients should visit the hospital 2 to 4 times a year to measure the levels of HbA1c and subsequent corresponding treatment. However, due to the low compliance to testing frequency, patients commonly lose the opportunity to improve diabetes care.</p>
        </div>  
        
        <div class="col-lg-1 col-md-9 text-left">
                
        </div>
        <div class="col-lg-4 col-md-9 text-left">
            <img src="img/2.png" class="img-responsive" alt="">
            
        </div>


        <div class="row">
        </div>
        <div> &nbsp; </div><div> &nbsp; </div>
        
        <div class="col-lg-4 col-md-9 text-left">
            <img src="img/3.png" class="img-responsive" alt="">
            
        </div> 
        <div class="col-lg-1 col-md-9 text-left">
                
        </div>
        <div class="col-lg-7 col-md-3 text-left">
            
            <h2 class="section-heading">A1C Alert, a professional HbA1c monitoring device for patients</h2>
            
            <p class="text-faded">OrangeBiomed is developing a POCT (point-of-care testing) device with measurement accuracy and precision level similar to that of the existing lab device for medical professionals. We first suggest the A1C Alert, a portable HbA1c monitoring device. A1C Alert is based on microfluidics that requires only a small amount of blood and is based on a single cell analysis method that can accurately measure HbA1c levels that anyone can use. We believe our A1C Alert can improve the quality of life for diabetic patients.</p>
        </div-->  
        </section>
</section>