<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="color:white"><b>Changing the way you receive healthcare,</b></h1> 
            <h1 style="color:white"><b>OrangeBiomed can bring the future of healthcare</b></h1>
            <hr class="light">
            <h3 style="color:white">A1C Alert, a professional a1c blood test at your fingertips</h3>
            <br>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact us</a> <!-- a~ 는 main.css 에서 hover 효과를 위한 것임-->
        </div>
    </div>
</header>
